{% extends 'base2.html' %}
{% load crispy_forms_tags %}
{%load i18n%}
{% load static %}
{% block content %}
      <div class="container">
        <button type="button" id="sidebarCollapse" class="btn btn-primary ml-auto">
          <i class="fas fa-align-justify"></i>
        </button>
        <div class="row  border border-top-0 border-left-0 border-right-0 mb-3">
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
            <div class="content_text">
              <p class="mb-0">{% translate 'OVERVIEW' %}</p>
            </div>
            <div class="heding">
              <p>{% translate 'Vehicles' %}</p>
            </div>
          </div>
        </div>
        <!--table strat-->
        <div class="row">
           <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12" >
              <label>{% translate "Show entries" %}:</label>
             <select class="form-control w-30" id="showentries">
                <option>10</option>
                <option>25</option>
                <option>50</option>
                <option>100</option>
                entries
             </select>
           </div>
           <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
               <label>{% translate "Search" %}:</label>
               <input class="form-control mr-sm-2" type="text" placeholder="{% translate 'Search' %}" aria-label="Search" id="mysearch">
           </div>
        </div>
        <div class="slider_2">
        <div class="row" style="margin-left: 0px;">
        <table class="table table-striped table-hover table-bordered mt-3 building_site" width="100%" id="vehicleTable">
          <thead>
            <tr> {% if request.user.is_superuser %}
              <th width="3%">{% translate "Action" %}</th> {% endif%}
              <th width="5%">{{form.license_plate.label}}</th>
              <th width="5%">{{form.license_plate2.label}}</th>
              <th width="5%">{{form.forwarder.label}}</th>
              <th width="3%">{{form.owner.label}}</th>
              <th width="3%">{{form.driver_name.label}}</th>
              <th width="3%">{{form.vehicle_weight_id.label}}</th>
              <th width="5%">{{form.vehicle_weight.label}}</th>
              <th width="5%">{{form.vehicle_weight2.label}}</th>
              <th width="3%">{{form.trailor_weight.label}}</th>
              <th width="3%">{{form.vehicle_type.label}}</th>
              <th width="3%">{{form.cost_center.label}}</th>
              <th width="5%">{{form.group.label}}</th>
              <th width="5%">{{form.country.label}}</th>
              <th width="5%">{{form.telephone.label}}</th>
              <th width="5%">{{form.vehicle_weight_date.label}}</th>
              <th width="5%">{{form.vehicle_weight_time.label}}</th>
              <th width="10%">{% translate "Updated on" %}</th>
<!--                   <th width="7%">Forwarder</th>
              <th width="5%">Group</th>
              <th width="5%">Country</th>
              <th width="5%">Telephone</th>
              <th width="5%">Vehicle Weight</th>
              <th width="3%">Vehicle Weight Id</th>
              <th width="10%">Updated on</th>
              <th width="5%">Action</th> -->
            </tr>
          </thead>

          <tbody class="mt-4">
            {% for data in dataset %}
            <tr>{% if request.user.is_superuser %}
              <td><a class="loadV" href="javascript:loadVehicleDetails('{{ data.id }}')" ><i class="fas fa-pencil-alt text-primary  ml-4"></i></a><a class="confirmdelete" href="{% url 'vehicle_delete' identifier=data.id  %}"> <i class="fas fa-trash-alt ml-2 text-danger"></i></a></td>
              {% endif %}
              <td>{{ data.license_plate }}</td>
              <td>{{ data.license_plate2 }}</td>
              <td>{{ data.forwarder }}</td>
              <td>{{ data.owner }}</td>
              <td>{{ data.driver_name }}</td> 
              <td>{{ data.vehicle_weight_id }}</td>
              <td>{{ data.vehicle_weight }}</td>
              <td>{{ data.vehicle_weight2 }}</td>
              <td>{{ data.trailor_weight }}</td>
              <td>{{ data.vehicle_type }}</td>
              <td>{{ data.cost_center }}</td>
              <td>{{ data.group }}</td>
              <td>{{ data.country }}</td>
              <td>{{ data.telephone }}</td>
              <td>{{ data.vehicle_weight_date }}</td>
              <td>{{ data.vehicle_weight_time }}</td>
              <td>{{ data.updated_date_time }}</td>
            </tr>
            {% endfor %}
<!--            <tfoot hidden>-->
<!--                <tr>-->
<!--                  <th rowspan="1" colspan="1">-->
<!--                     <input type="text" class="form-control">-->
<!--                  </th>-->
<!--                  <th rowspan="1" colspan="1">-->
<!--                     <input type="text"class="form-control">-->
<!--                  </th>-->
<!--                  <th rowspan="1" colspan="1">-->
<!--                     <input type="text" class="form-control">-->
<!--                  </th>-->
<!--                  <th rowspan="1" colspan="1">-->
<!--                     <input type="text" class="form-control">-->
<!--                  </th>-->
<!--                  <th rowspan="1" colspan="1">-->
<!--                     <input type="text"class="form-control">-->
<!--                  </th>-->
<!--                  <th rowspan="1" colspan="1">-->
<!--                     <input type="text" class="form-control">-->
<!--                  </th>-->
<!--                  <th rowspan="1" colspan="1">-->
<!--                     <input type="text" class="form-control">-->
<!--                  </th>-->
<!--                  <th rowspan="1" colspan="1">-->
<!--                     <input type="text"class="form-control">-->
<!--                  </th>-->
<!--                  <th rowspan="1" colspan="1">-->
<!--                     <input type="text" class="form-control">-->
<!--                  </th>-->
<!--               </tr>-->
<!--            </tfoot>-->
          </tbody>
          </tbody>

        </table>
      </div>
    </div>
    </div>
    <!--table end-->
    <div class="container">
      <div class="row mb-5">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
          <!-- Material form login -->
          <div class="card p-3 mt-4">
                <h5 class="card-header info-color white-text py-3">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapse_18">
    
                        <div class="row">
                          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 " style="display: flex;">
                            <p class="mb-0 pt-2 mr-4 text-color text_color float-left">{% translate 'Vehicle' %}</p>
                            <button type="button" id="new_entry" class="btn btn-blue btn-blue-fill" style="float:right;">Neue Eingabe</button>
                          </div>
                          </div>
    
                      </a>
                    </h4>
                  </div>
                </h5>

            
            <div id="collapse_18" class="collapse " >
              <div class="panel-body">  
                 <div class="contanier">
                <form class="form-group" method="POST" enctype="multipart/form-data">
                  {% csrf_token %}
                <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 text-left mt-4">
                  <div class="md-form mb-3">
                    <input type="hidden" name="id" id="id">
                    <label>{% trans 'Code' %}. 1</label>
                    {{ form.license_plate}}{{ form.license_plate.errors}}
<!--                    <input type="License Plate" class="form-control" name="license_plate" id="id_license_plate" required>-->
                  </div>
                  <div class="md-form mb-3">
                    <label>{{ form.forwarder.label}}</label>
                    {{ form.forwarder}}{{ form.forwarder.errors}}
<!--                    <input type="Forwarder" class="form-control" name="forwarder" id="id_forwarder" >-->
                  </div>

                  <div class="md-form mb-3">
                    <label>{{ form.group.label}}</label>
                    {{ form.group}}{{ form.group.errors}}
<!--                    <input type="number" min="0" class="form-control" name="group" id="id_group" >-->
                  </div>
                  <div class="md-form mb-3">
                    <label>{{ form.country.label}}</label>
                    {{ form.country}}{{ form.country.errors}}
                  </div>
                  <div class="md-form mb-3">
                    <label>{{ form.vehicle_weight_date.label}}</label>
                    {{ form.vehicle_weight_date}}{{ form.vehicle_weight_date.errors}}
<!--                    <input type="number" step="any" class="form-control" name="vehicle_weight_id" id="id_vehicle_weight_id">-->
                  </div>
                  <div class="md-form mb-3">
                    <label>{{ form.vehicle_type.label}}</label>
                    {{ form.vehicle_type}}{{ form.vehicle_type.errors}}
                  </div>
                  <div class="md-form mb-3">
                    <label>{{ form.cost_center.label}}</label>
                    {{ form.cost_center}}{{ form.cost_center.errors}}
                  </div>
                  <div class="md-form mb-3">
                    <label>{{ form.owner.label}}</label>
                    {{ form.owner}}{{ form.owner.errors}}
                  </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 text-left mt-4">
                  <div class="md-form mb-3">
                    <label>{% trans 'Code' %}. 2</label>
                    {{ form.license_plate2}}{{ form.license_plate2.errors}}
<!--                    <input type="Telephone" class="form-control" name="telephone" id="id_telephone">-->
                  </div>
                  <div class="md-form mb-3">
                    <label>{{ form.telephone.label}}</label>
                    {{ form.telephone}}{{ form.telephone.errors}}
<!--                    <input type="Telephone" class="form-control" name="telephone" id="id_telephone">-->
                  </div>
                  <div class="md-form mb-3">
                    <label>{{ form.vehicle_weight.label}}</label>
                    {{ form.vehicle_weight}}{{ form.vehicle_weight.errors}}
<!--                    <input type="number" step="any" class="form-control" name="vehicle_weight" id="id_vehicle_weight"  required>-->
                  </div>
                  <div class="md-form mb-3">
                   <label>{{ form.vehicle_weight2.label}}</label>
                    {{ form.vehicle_weight2}}{{ form.vehicle_weight2.errors}}
<!--                    <input type="number" step="any" class="form-control" name="vehicle_weight" id="id_vehicle_weight"  required>-->
                  </div>
                  <div class="md-form mb-3">
                    <label>{{ form.vehicle_weight_time.label}}</label>
                    {{ form.vehicle_weight_time}}{{ form.vehicle_weight_time.errors}}
<!--                    <input type="number" step="any" class="form-control" name="vehicle_weight_id" id="id_vehicle_weight_id">-->
                  </div>      
                  <div class="md-form mb-3">
                    <label>{{ form.vehicle_weight_id.label}}</label>
                    {{ form.vehicle_weight_id}}{{ form.vehicle_weight_id.errors}}
<!--                    <input type="number" step="any" class="form-control" name="vehicle_weight_id" id="id_vehicle_weight_id">-->
                  </div>
                  <div class="md-form mb-3">
                    <label>{{ form.driver_name.label}}</label>
                    {{ form.driver_name}}{{ form.driver_name.errors}}
                  </div>
                  <div class="md-form mb-3">
                    <label>{% trans 'Trailor' %}  [kg]</label>
                    {{ form.trailor_weight}}{{ form.trailor_weight.errors}}
                  </div>
                  <input type="hidden" name="taken" id="id_taken" value=0>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                    <button id="submit" type="submit" class="btn btn-primary mr-3"><i class="fas fa-save ml-2"></i> {% translate "Save" %}</button>
                  </div>
                </div>

                </form>

              </div></div>
            </div>

          </div>

        </div>
      </div>
    </div>

{% endblock %}

{% block scripts %}

<script>
    // DataTable
    $(document).ready(function() {
      var table = $('#vehicleTable').DataTable(
         {
            "bLengthChange": false,
           initComplete: function () {
               // Apply the search
               this.api().columns().every( function () {
                   var that = this;
                   console.log(that)
<!--                   $( 'input', this.footer() ).on( 'keyup change clear', function () {-->
<!--                       if ( that.search() !== this.value ) {-->
<!--                           that.search( this.value ).draw();-->
<!--                       }-->
<!--                   } );-->
               } );
           }
          });

      $("#vehicleTable_filter").hide()

      // custom search filter
      $('#mysearch').on( 'keyup', function () {
          table.search( this.value ).draw();
      } );

      //  custom show entries
      $('#showentries').change(function() {
          table.page.len(this.value).draw();
      } );

 });

 $(".loadV").click(function(){
    $("#collapse_18").addClass('show')
  })
  
   $("#new_entry").click(function(e){
     $("#collapse_18").addClass('show')
    //e.preventDefault();
    $('input#id_trailor_weight').val('0');
    //$('select').val('');
    return false;
  })
</script>
{% endblock %}
