.container-custom{
  /*background-color: black;*/
}
		body{
			background-color: #ece9e9;
		}
		.row1{
			background-color: #000;
			color:white;
			margin:0vw !important;
		}
		.f1{
			font-size: 2vw;
		}

		.f3{
			overflow-wrap: break-word;
    		font-size: 1.5vw;
    		margin-right: 2vw;
		}

		.f2{
			font-size: 2vw;
		}
		.row2{
			background-color: #f1a456eb;
			margin:0vw !important;
		}
		.bdr-top{
			border-top: 1px solid black;
		}
		.f5{
			font-size: 10vw;
		}
		.btn-row{
			padding:10px; 
		}
		.btn-sqr{
			width: 5vw !important;
			height: 5vw !important;
			font-size: 2vw;
			margin: 5px;
		}
		.f-black{
			color:black;
			margin-left: 10% !important;
			/*margin-right:10%;*/
		}
		.btn-warning{
			background-color: 	#aa4224;
		}
		.large-font{
			font-size: 	1vw;
		}
		.wrap-text{
			overflow-wrap: 	break-word;	
		}
		.pp1{
			height:60%;
			width:100%;
			margin-top:.5vw;
		}
