{% extends 'base2.html' %}
{% load crispy_forms_tags %}
{%load i18n%}
{% block head %}
{%load static%}
{% endblock %}
{% block content %}
    <!-- /#sidebar-wrapper -->
      <div class="container">
        <button type="button" id="sidebarCollapse" class="btn btn-primary ml-auto">
          <i class="fas fa-align-justify"></i>
        </button>
        <div class="row  border border-top-0 border-left-0 border-right-0 mb-3">
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
            <div class="content_text">
              <p class="mb-0">{% translate 'OVERVIEW' %}</p>
            </div>
            <div class="heding">
              <p>{% if daily %} {% translate 'Daily List' %} {% else %} {% translate 'Delivery Notes' %} {% endif %}</p>
            </div>
          </div>
        </div>
        
        <div class="container">
         {% if messages %}
						{% for message in messages %}
						<div id="msg" class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
						{% endfor %}
                  {% endif %}
          <form method="POST" enctype="multipart/form-data"  id="form_date_selection" class="row">
            {% csrf_token %}
          <div class="col-xl-4 col-lg-4 col-md-5 col-sm-12 col-12">
             <div class="form-group">
                <div class='input-group date' id='datetimepicker6'>
                  <label class="mt-2 mr-3">{% translate 'Date' %}</label>
                   <input type='date' class="form-control" id='del_from_date' name="fromdate" />
                   <span class="input-group-addon">
                   <span class="glyphicon glyphicon-calendar"></span>
                   </span>
                </div>
             </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-5 col-sm-12 col-12">
             <div class="form-group">
                <div class='input-group date' id='datetimepicker7'>
                  <label class="mt-2 mr-3">{% translate 'To' %}</label>
                   <input type='date' class="form-control" id="del_to_date" name="todate"/>
                   <span class="input-group-addon">
                   <span class="glyphicon glyphicon-calendar"></span>
                   </span>
                </div>
             </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-5 col-sm-12 col-12 pt-md-4">
            <button type="submit" class="btn btn-primary mt-2" id="btn_date_selection" name="date_selection">{% translate 'Filter' %}</button>
            <button type="submit" class="btn btn-primary mt-2" name="export_data">Export</button>
            <button type="submit" class="btn btn-primary mt-2" name="mail_data">Mail</button>
          </div>
          </form>
       </div>

        <!--table strat-->
        <div class="row">
           <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12" >
              <label>{% translate "Show entries" %}:</label>
             <select class="form-control w-30" id="showentries">
                <option>10</option>
                <option>25</option>
                <option>50</option>
                <option>100</option>
                entries
             </select>
           </div>
           <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
               <label>{% translate "Search" %}:</label>
               <input class="form-control mr-sm-2" type="text" placeholder="{% translate 'Search' %}" aria-label="Search" id="mysearch">
           </div>
        </div>
        <div class="container">
          <div class="row">
            <div class=" table-responsive">
              <table class="table table-striped table-hover table-bordered mt-3 building_site" width="100%" id="deliveryNoteTable">
                <thead>
                  <tr> 
                    <th>{% translate 'Action' %}</th>
                    <th>{% translate 'Lfd Nr' %}</th>
                    <th>{% translate 'Code' %} .1</th>
                    <th>{% translate 'Code' %} .2</th>
                    <th>{{form.article.label}}</th>
                    <th>{{form.customer.label}}</th>
                    <th>{{form.supplier.label}}</th>
                    <th>{{form.first_weight.label}}</th>
                    <th>{{form.second_weight.label}}</th>
                    <th>{{form.net_weight.label}}</th>
                    <th>{% translate 'Total Price' %}</th>
                    <th>{{form.secondw_alibi_nr.label}}</th>
                    <th>{% translate 'Created on' %}</th>
                    <th>{% translate 'Updated on' %}</th>
                  </tr>
                </thead>
                <tbody class="mt-4">
                  {% for data in dataset %}
                  <tr>
                    <td><a href="javascript:loadDeliveryNoteDetails('{{ data.id }}')" ><i class="fas fa-pencil-alt text-primary  ml-4"></i></a>
                    {% if request.user.is_superuser%}
                    {% if not daily %}
                    <a class="confirmdelete" href="{% url 'deliverynote_delete' identifier=data.id  %}"><i class="fas fa-trash-alt ml-2 text-danger"></i></a></td>
                    {% endif %}
                    {% endif %}
                    <td>{{ data.id }}</td>
                    <td class="vehicleName{{data.id}}">{{ data.vehicle }}</td>
                    <td>{{ data.vehicle.license_plate2 }}</td>
                    <td>{{ data.article }}</td>
                    <td>{{ data.customer }}</td>
                    <td>{{ data.supplier }}</td>
                    <td>{{ data.first_weight }}</td>
                    <td>{{ data.second_weight }}</td>
                    <td>{{ data.net_weight }}</td>
                    <td>{{ data.total_price }}</td>
                    <td>{{ data.secondw_alibi_nr }}</td>
                    <td>{{ data.created_date_time }}</td>
                    <td>{{ data.updated_date_time }}</td>
                  </tr>
                  {% endfor %}
      <!--            <tfoot hidden>-->
      <!--               <tr>-->
      <!--                 <th rowspan="1" colspan="1">-->
      <!--                    <input type="text" class="form-control">-->
      <!--                 </th>-->
      <!--                 <th rowspan="1" colspan="1">-->
      <!--                    <input type="text"class="form-control">-->
      <!--                 </th>-->
      <!--                 <th rowspan="1" colspan="1">-->
      <!--                    <input type="text" class="form-control">-->
      <!--                 </th>-->
      <!--                 <th rowspan="1" colspan="1">-->
      <!--                    <input type="text" class="form-control">-->
      <!--                 </th>-->
      <!--                 <th rowspan="1" colspan="1">-->
      <!--                    <input type="text" class="form-control">-->
      <!--                 </th>-->
      <!--                 <th rowspan="1" colspan="1">-->
      <!--                    <input type="text"class="form-control">-->
      <!--                 </th>-->
      <!--                 <th rowspan="1" colspan="1">-->
      <!--                    <input type="text" class="form-control">-->
      <!--                 </th>-->
      <!--                 <th rowspan="1" colspan="1">-->
      <!--                    <input type="text" class="form-control">-->
      <!--                 </th>-->
      <!--                 <th rowspan="1" colspan="1">-->
      <!--                    <input type="text" class="form-control">-->
      <!--                 </th>-->
      <!--                 <th rowspan="1" colspan="1">-->
      <!--                    <input type="text" class="form-control">-->
      <!--                 </th>-->
      <!--                 <th rowspan="1" colspan="1">-->
      <!--                    <input type="text" class="form-control">-->
      <!--                 </th>-->
      <!--                 <th rowspan="1" colspan="1">-->
      <!--                    <input type="text" class="form-control">-->
      <!--                 </th>-->
      <!--               </tr>-->
      <!--            </tfoot>-->
                </tbody>
              </table>
            </div>        
          </div>
        </div>

        <div class="container" >
      <div class="row mb-5">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" >
          <!-- Material form login -->
          <div class="card p-3 mt-4" id="div_delivery_form">
            <h5 class="card-header info-color white-text py-3">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse_18" class="" aria-expanded="true">
                    <div class="row">
                      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 text-left" style="display: flex;">
                        <p class="mb-0 pt-2 mr-4 text-color text_color">{% translate 'Transaction' %}</p>
                      </div>
                    </div>
                  </a>
                </h4>
              </div>
            </h5>

            <div id="collapse_18" class="collapse show" style="">
              <div class="panel-body">
                 <div class="contanier">
                <form class="form-group" method="POST" enctype="multipart/form-data" id="form_delivery_note" target="_blank">
                  {% csrf_token %}
                      <input type="hidden" name="id" id="id">
                      <input type="hidden" name="firstw_alibi_nr" id="id_firstw_alibi_nr">
                      <input type="hidden" name="firstw_date_time" id="id_firstw_date_time">
                      <input type="hidden" name="secondw_date_time" id="id_secondw_date_time">
                      <input type="hidden" name="vehicle_weight_flag" id="id_vehicle_weight_flag">
                      <input type="hidden" name="vehicle_second_weight_flag" id="id_vehicle_second_weight_flag">
                      <input type="hidden" name="trans_flag" id="id_trans_flag">
                      <input type="hidden" name="price_per_item" id="id_article_price" >
                <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 text-left mt-4">
                  <div class="md-form mb-3">
                    <label>{{form.vehicle.label}}</label>
                    <input type="text" class="form-control" id="id_vehicle" readonly>
                    <input type="hidden" id="vehicle_id" name="vehicle">
                  </div>
                  <div class="md-form mb-3">
                    <label>{{form.customer.label}}</label>
                    {{ form.customer}}
                  </div>

                  <div class="md-form mb-3">
                    <label>{{form.first_weight.label}}</label>
                    {{ form.first_weight}}
                  </div>
                  <div class="md-form mb-3">
                    <label>{{form.second_weight.label}}</label>
                    {{ form.second_weight}}
                  </div>
                   <!-- <div class="md-form mb-3"> -->
                    <!-- </div> -->
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 text-left mt-4">
                  <div class="md-form mb-3">
                    <label>{{form.article.label}}</label>
                    {{ form.article}}
                  </div>
                  <div class="md-form mb-3">
                    <label>{{form.supplier.label}}</label>
                    {{ form.supplier}}
                  </div>
                  <div class="md-form mb-3">
                    <label>{{form.net_weight.label}}</label>
                    {% comment %} {{ form.net_weight}} {% endcomment %}
                    <input type="text" class="form-control" id="id_net_weight" name="net_weight" readonly>
                  </div>
                    <div class="md-form mb-3">
                    <label>{{form.secondw_alibi_nr.label}}</label>
                    <input type="text" name="secondw_alibi_nr" id="id_secondw_alibi_nr" class="form-control" readonly>
                  </div>

                  </div>
                    <a id="load_images_btn" class="btn btn-primary ml-2" style="color: white;" > {% translate 'View Images' %}</a>
                    <button id="save_delivery_note" name="save_button"  class="btn btn-primary ml-1"><i class="fas fa-save ml-2"></i> {% translate 'Save' %}</button>
                    <button id="print_delivery_note" name="print_button" class="btn btn-primary ml-2"><i class="fas fa-print ml-2"></i> {% translate 'Print' %}</button>
                    <button id="send_email_btn" name="send_email" class="btn btn-primary ml-2"><i class="fas fa-paper-plane ml-2"></i> {% translate 'Mail' %}</button>
                    <button id="cancel_delivery_note" class="btn btn-primary ml-2"> {% translate 'Cancel' %}</button>
                </div>

                </form>

              </div></div>
            </div>

          </div>

        </div>
      </div>
    </div>
    </div>
    <div id="MyModal" style="overflow-y: auto;" class="modal fade modal-custom bd-example-modal-lg" role="dialog">
   <div class="modal-dialog modal-lg">
      <div class="modal-content  p-4">
         <div class="modal-body">
            <img class="img-responsive" src="" style="width:100%"/>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
         </div>
      </div>
   </div>
</div>
    <div id="MyPopupImg" class="modal fade modal-custom bd-example-modal-lg" role="dialog">
          <div class="modal-dialog modal-lg">
              <!-- Modal content-->
              <div class="modal-content p-4">
                  <div class="modal-header modal-header-custom">                  
                      <h4 class="modal-title">{% translate 'Captured Images' %}</h4>
                      <button type="button" class="close" data-dismiss="modal">
                        &times;</button>
                  </div>
                  <div class="modal-body">
                    <center> </center>
                  </div>
                  <div class="modal-footer">
                      <input type="button" id="btnClosePopup" value="Close" class="btn btn-secondary" />
                  </div>
              </div>
          </div>
      </div>
{% endblock %}
{% block scripts %}
<script src="{% static 'stats/js/stats_custom.js'%}"></script>

<script>
    // DataTable
    $(document).ready(function() {
      var table = $('#deliveryNoteTable').DataTable(
         {
            "bLengthChange": false,
           initComplete: function () {
               // Apply the search
               this.api().columns().every( function () {
                   var that = this;
                   console.log(that)
<!--                   $( 'input', this.footer() ).on( 'keyup change clear', function () {-->
<!--                       if ( that.search() !== this.value ) {-->
<!--                           that.search( this.value ).draw();-->
<!--                       }-->
<!--                   } );-->
               } );
           }
          });

      $("#deliveryNoteTable_filter").hide()

      // custom search filter
      $('#mysearch').on( 'keyup', function () {
          table.search( this.value ).draw();
      } );

      //  custom show entries
      $('#showentries').change(function() {
          table.page.len(this.value).draw();
      } );

 });

$("#id_first_weight").keyup(function(){
  first = $(this).val();
  second = $("#id_second_weight").val();
  net = Math.abs(second-first);
  $("#id_net_weight").val(net);
})

$("#id_second_weight").keyup(function(){
  first = $("#id_first_weight").val();
  second = $(this).val();
  net = Math.abs(second-first);
  $("#id_net_weight").val(net);
})

</script>
{% endblock %}
