{% extends 'base2.html' %}
{%load i18n%}
{% block content %}
      <div class="container">
        <button type="button" id="sidebarCollapse" class="btn btn-primary ml-auto">
          <i class="fas fa-align-justify"></i>
        </button>
        <div class="row  border border-top-0 border-left-0 border-right-0 mb-3">
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="content_text">
              <p class="mb-0">{% translate 'OVERVIEW' %}</p>
            </div>
            <div class="heding">
              <p>{% translate 'Sign Out' %}</p>
            </div>
          </div>
        </div>
      </div>
  <div class="container">
  <center>
    <h3> {% translate 'You are now logged out' %} : {{ user }} </h3>
    <a type="submit" class="btn btn-primary mt-3 mb-3 px-4" href="{% url 'sign_in' %}">{% translate 'SIGN IN' %}</a>
  </center></div>
{% endblock %}